aiohappyeyeballs==2.6.1 ; python_version == "3.12"
aiohttp==3.13.1 ; python_version == "3.12"
aiosignal==1.4.0 ; python_version == "3.12"
ansicolors==1.1.8 ; python_version >= "3.11" and python_version < "4.0"
apache-airflow-client==2.10.0 ; python_version >= "3.11" and python_version < "4.0"
attrs==25.4.0 ; python_version >= "3.11" and python_version < "4.0"
boto3==1.40.55 ; python_version >= "3.11" and python_version < "4.0"
botocore==1.40.55 ; python_version >= "3.11" and python_version < "4.0"
certifi==2025.10.5 ; python_version >= "3.11" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.11" and python_version < "4.0" and implementation_name == "pypy"
charset-normalizer==3.4.4 ; python_version >= "3.11" and python_version < "4.0"
click==8.3.0 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
docker==7.1.0 ; python_version >= "3.11" and python_version < "4.0"
entrypoints==0.4 ; python_version >= "3.11" and python_version < "4.0"
faker==37.11.0 ; python_version >= "3.11" and python_version < "4.0"
fastjsonschema==2.21.2 ; python_version >= "3.11" and python_version < "4.0"
freeds==0.2.24 ; python_version >= "3.11" and python_version < "4.0"
frozenlist==1.8.0 ; python_version == "3.12"
gitdb==4.0.12 ; python_version >= "3.11" and python_version < "4.0"
gitpython==3.1.45 ; python_version >= "3.11" and python_version < "4.0"
idna==3.11 ; python_version >= "3.11" and python_version < "4.0"
jafkafegen==0.4.19 ; python_version >= "3.11" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
jsonschema-specifications==2025.9.1 ; python_version >= "3.11" and python_version < "4.0"
jsonschema==4.25.1 ; python_version >= "3.11" and python_version < "4.0"
jupyter-client==8.6.3 ; python_version >= "3.11" and python_version < "4.0"
jupyter-core==5.9.1 ; python_version >= "3.11" and python_version < "4.0"
loguru==0.7.3 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==4.0.0 ; python_version >= "3.11" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
multidict==6.7.0 ; python_version == "3.12"
nbclient==0.10.2 ; python_version >= "3.11" and python_version < "4.0"
nbformat==5.10.4 ; python_version >= "3.11" and python_version < "4.0"
nbstripout==0.8.1 ; python_version >= "3.11" and python_version < "4.0"
numpy==2.3.4 ; python_version >= "3.11" and python_version < "4.0"
papermill==2.6.0 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==4.5.0 ; python_version >= "3.11" and python_version < "4.0"
propcache==0.4.1 ; python_version == "3.12"
pycparser==2.23 ; python_version >= "3.11" and python_version < "4.0" and implementation_name == "pypy"
pygments==2.19.2 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
pywin32==311 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "4.0"
pyzmq==27.1.0 ; python_version >= "3.11" and python_version < "4.0"
referencing==0.37.0 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.11" and python_version < "4.0"
rich==14.2.0 ; python_version >= "3.11" and python_version < "4.0"
rpds-py==0.27.1 ; python_version >= "3.11" and python_version < "4.0"
ruamel-yaml-clib==0.2.14 ; python_version >= "3.11" and python_version < "3.14" and platform_python_implementation == "CPython"
ruamel-yaml==0.18.15 ; python_version >= "3.11" and python_version < "4.0"
s3transfer==0.14.0 ; python_version >= "3.11" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
smmap==5.0.2 ; python_version >= "3.11" and python_version < "4.0"
tenacity==9.1.2 ; python_version >= "3.11" and python_version < "4.0"
tornado==6.5.2 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.11" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "4.0"
typer==0.19.2 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.11" and python_version < "4.0"
win32-setctime==1.2.0 ; python_version >= "3.11" and python_version < "4.0" and sys_platform == "win32"
yarl==1.22.0 ; python_version == "3.12"
